body{

}
      
      
.tabela1{
border: solid black;
}
.tabela1 th{
background-color:black;
color:white;
}




 .tabela2{
 border: solid black;
}
.tabela2 th{
 background-color:grey;
 color:white;
 }

  .tabela2{
 border: solid black;
}
.tabela2 th{
 background-color:grey;
 color:white;
 }


 
 .tabela3{
 border: solid black;
}
.tabela3 td{
 background-color:white;
 color:blue;
 }


.tabela4{
 border: solid black;
}
.tabela4 th{
 background-color:black;
 color:white;
 font-family: Arial,
 }

 .tabela5{
 border: solid black;
}
.tabela5 th{
 background-color:aqua;
 color:white;
font-size: 20px
 }


 .tabela6{
 border: solid black;
}
.tabela6 th{
 background-color:black;
 color:white;
 background-color:indianred
 }
 
  .tabela7{
 border: solid black;
}
.tabela7 th{
 background-color:black;
 color:white;
 }



   .tabela8{
 border: solid black;
}
.tabela8 th{
 background-color:black;
 color:white;
 border: 3px solid #333;
 }

.tabela9{
 border: solid black;
}
.tabela9 th{
 background-color:red;
 color:white;
 
 }


.tabela10{
 border: solid black;
}
.tabela10 th{
 background-color:black;
 color:white;
  padding: 16px;
 }

 
.tabela11{
 border: solid black;
}
.tabela11 th{
 background-color:black;
 color:white;
 border: 3px solid #333;
 }

 .tabela12{
 border: solid black;
}
.tabela12 th{
 background-color:black;
 color:white;
 }

 .tabela13{
 border: solid black;
}
.tabela13 th{
 background-color:black;
 color:white;
  background-color: #add8e6;
 }



 .tabela14{
 border: solid black;
}
.tabela14 th{
 background-color:black;
 color:green;
 }

.tabela15{
 border: solid black;
}
.tabela15 th{
 background-color:black;
 color:white;
 font-family:Georgia,
 }

.tabela16{
 border: solid black;
}
.tabela16 th{
 background-color:black;
 color:white;
 }

.tabela17{
 border: solid black;
}
.tabela17 th{
 background-color:black;
 color:white;
 background-color:hotpink;
 }

 .tabela18{
 border: solid black;
}
.tabela18 th{
 background-color:black;
 color:white;
 }
 

.tabela19{
 border: solid black;
}
.tabela19 th{
 background-color:black;
 color:white;
 font-family: 'Gill Sans', 
 }
 
  
.tabela20{
 border: solid black;
}
.tabela20 th{
 background-color:black;
 color:white;
 font-family: 'Gill Sans', 
 }























  