body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eee;
}

.container {
  height: 400px;            
  display: flex;              
  align-items: center;      
  justify-content: center;    
  background: #333;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  margin: 50px;
}