.container {
  display: flex;
  flex-wrap: wrap;       
  width: 80%;
  gap: 10px;            
  justify-content: center; 
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.item {
  flex: 1 1 150px;      
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 30px 0;
  font-size: 20px;
  border-radius: 8px;
}