.container {
  display: flex;
  width: 80%;
  gap: 10px;
}

.item {
  flex: 1; 
  background-color: #3498db;
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
}